<ul class="alert alert-danger" *ngIf="errores.length>0">
  
    <li *ngFor="let err of errores">
        {{err}}
    </li>
  </ul>
  
<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
    <form #estudianteForm="ngForm">
    <div class="form-group row">
        <label for="codigo" class="col-form-label col-sm-2">Curso Id</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" [(ngModel)]="curso.idCurso" name="idCurso" #idCurso="ngModel" required>
            <div class="alert alert-danger" *ngIf="idCurso.invalid && (idCurso.dirty || idCurso.touched)">
                <div *ngIf="idCurso.errors?.['required']">
                   El id del curso es requerido
                </div>
              </div>
        </div>
    </div>
    
    <div class="form-group row">
      <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="curso.nombre" name="curso" #nombre="ngModel" required minlength="5" maxlength="45">
        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors?.['required']">
            Nombre requerido
          </div>
          <div *ngIf="nombre.errors?.['minlength']">
            El nombre debe tener al menos 5 caracteres
          </div>
        </div>
      </div>
    </div>
  objAsignatura?:Asignatura
    <div class="form-group row">
      <label for="periodo" class="col-form-label col-sm-2">Periodo</label>
      <div class="col-sm-6">
          <input type="number" class="form-control" [(ngModel)]="curso.periodo" name="periodo" #periodo="ngModel" required>
          <div class="alert alert-danger" *ngIf="periodo.invalid && (periodo.dirty || periodo.touched)">
              <div *ngIf="periodo.errors?.['required']">
                 El periodo es requerido
              </div>
          </div>
      </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='crearCurso()'>Crear</button>
        </div>
      </div>
    </form>
    </div>
    </div>