table {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  width: 80%;
  text-align: center;
}

.layout {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  width: 90%;
}

.layoutT {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}
