<div class="card">
  <div class="card-header">
    <h4>Consulta 2</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      Buscar un conjunto de estudiantes que se encuentren dentro de un conjunto
      de números de identificación.
    </h5>
    <div>
      <div class="row">
        <div class="col-5">
          <h5>Diligenciar los campos</h5>
          <small id="emailHelp" class="form-text text-muted"
            >Recuerde que puede agregar los identificadores que desee</small
          >
          <form style="margin-bottom: 25px" #idForm="ngForm">
            <div class="form-group">
              <label for="nombres">Ingrese un identificador</label>
              <input type="number" class="form-control" name="idEstudiante" id="idEstudiante"  [formControl]="idEstudiante" min="0" #ident required/>
              <div class="alert alert-danger" *ngIf="idEstudiante.invalid && (idEstudiante.dirty || idEstudiante.touched)">
                <div *ngIf="idEstudiante.errors!['required']">
                  Debe ingresar un identificador
                </div>
                <div *ngIf="idEstudiante.errors!['min']">
                    El identificador debe ser positivo
                </div>
              </div> 
            </div>
            <button
            [disabled]="idEstudiante.invalid"
              type="button"
              class="btn btn-success"
              (click)="agregar();"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-plus-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
              </svg>
              Agregar
            </button>
            <ul class="list-group mt-3" *ngIf="listaIds.length > 0" >
            <li class="list-group-item active" aria-current="true">Lista de identificadores</li>
              <div *ngFor="let id of listaIds">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            {{ id }} 
                        </div>
                        <div class="col-2">
                            <button type="button" (click)="borrar(id)" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                              </svg></button>
                        </div>

                    </div>
                  </li>
              </div>
            </ul>
            <button type="submit" class="btn btn-primary mt-3" (click)="buscar()" *ngIf="listaIds.length>0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
              Buscar
            </button>
          </form>
        </div>
        <div class="col-7">
          <div *ngIf="estudiantesEncontrados != null">
            <h5>Resultados</h5>
            <div
              *ngIf="estudiantesEncontrados?.length == 0"
              class="alert alert-info"
            >
              No se encontraron resultados con los datos de busqueda ingresados
            </div>
            <table
              class="table table-striped table-bordered"
              *ngIf="estudiantesEncontrados.length > 0"
            >
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Número de identificacíon</th>
                  <th scope="col">Tipo de identificacíon</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Telefonos</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let estudiante of estudiantesEncontrados">
                  <th>{{ estudiante.idPersona }}</th>
                  <th>{{ estudiante.noIdentificacion }}</th>
                  <td>{{ estudiante.tipoIdentificacion }}</td>
                  <td>{{ estudiante.nombres }}</td>
                  <td>{{ estudiante.apellidos }}</td>
                  <td>{{ estudiante.correoElectronico }}</td>
                  <td>
                    {{ estudiante.objDireccion.direccionResidencia }} ({{
                      estudiante.objDireccion.ciudad
                    }})
                  </td>
                  <td>
                    <div class="btn-group dropleft">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Telefonos
                      </button>
                      <div class="dropdown-menu">
                        <div *ngFor="let telefono of estudiante.listaTelefonos">
                          <a class="dropdown-item">{{ telefono.numero }}</a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
